<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cc.koumakan.spaceplayer"
          android:installLocation="auto">

	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>

	<application
			android:allowBackup="false"
			android:icon="@mipmap/ic_launcher"
			android:label="${apk_name}"
			android:theme="@android:style/Theme.NoTitleBar">

		<activity
				android:name=".view.MainActivity"
				android:launchMode="singleTask"
				android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<service android:name=".service.PlayerService"/>

		<receiver android:name=".util.WatchReceiver">
			<intent-filter>
				<action android:name="cc.koumakan.spaceplayer.BROADCAST"/>
				<action android:name="LOCAL_QUIT"/>
				<action android:name="LOCAL_NEXT"/>
				<action android:name="LOCAL_PAUSE"/>
			</intent-filter>
		</receiver>

	</application>

</manifest>
